/* 
    Document   : stylem.css
    Created on : 15 Σεπ 2013, 1:59:30 μμ
    Author     : panalex
    Description:
        Purpose of the stylesheet follows.
*/

@media screen and (max-width: 380px){
    header>div>div {width:100%; }
    header>div>div>div{width:100%; float:none; text-align: center;}
    header h1 {width:100%;}
    header a{text-align: center; width:100%;float:none;}

    nav {margin-top:0px;width: 100%; float: none;}


    ul.menu {margin:25px 10px 0px 0px; display:inline-box; }
    ul.menu li {float:left; line-height:30px; margin:0px 0px 0px 5%;}
    ul.menu li a {
        font-size:.8125em; line-height:30px;
    }
    /*********footer*****************/
    footer div, footer nav, .soc-icons, .soc-icons span{
        float:none; width:100%
    }
    footer nav{bottom:0;margin-top:3px;}
    
    footer {width:100%; overflow:hidden; padding:0px 0px 0px 0px; }
    footer p {float:none; text-align:center; width:100%;}
    
}

@media screen and (max-width: 768px){
    header>div>div>div{width:100%; float:none; text-align: center;}
    .text-1 {font-size:60px; line-height:72px;}
    .text-1 strong {margin-top:-20px; display:block;}
    .text-2 {font-weight:300; font-size:21px;}

    .text-3 {font-size:48px; line-height:60px;}
    .text-4 { font-weight:300;  font-size:30px; line-height:36px; letter-spacing:-1px;}
}

@media screen and (max-width: 1080px){
    header>div{padding-bottom:5px}
    header>div>div {width:100%; }
    header>div>div>div{width:100%; float:none;}

    nav {float:none; margin-top:-30px; width: 100%; line-height:3px;}


    ul.menu {margin:25px 10px 0px 0px; display:inline-box;}
    ul.menu li {float:left; line-height:30px; margin:0px 0px 0px 5%;}
    ul.menu li a {
        font-size:1.125em; line-height:30px;
    }   
}




